<div class="appbar">
    <div class="navigation-container">
        <h3>About us</h3>
        <h3>Products</h3>
        <h3>Category</h3>
    </div>

    <div class="logo-container">
        <h1 class="logo" onclick="window.location.href='/'">
            Viti's Shop<span>.</span>
        </h1>
    </div>

    <div class="navigation-container">
        <h3>Blog</h3>
        <h3>Career</h3>
        <h3>Contacts</h3>
        <button class="cart-button" onclick="window.location.href='/cart'">
            <span id="cart-count">0</span>

            <svg width="30" height="30">
                <use href="/static/svg/sprite.svg#icon-cart-v2" ></use>
            </svg>
        </button>
    </div>
</div>
